#flash-messages {
    margin: 10px 0;
}

.notice {
    padding: 10px;
    border: 1px solid green;
    background-color: #e0ffe0;
    border-radius: 5px;
    color: green;
    margin-bottom: 10px;
}

.alert {
    padding: 10px;
    border: 1px solid red;
    background-color: #ffe0e0;
    border-radius: 5px;
    color: red;
    margin-bottom: 10px;
}